services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - app_net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

      # 내부(컨테이너) + 외부(호스트) 리스너 분리
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    ports:
      - "9092:9092"
    networks:
      - app_net

  infra-postgres-1:
    image: postgres:15
    container_name: infra-postgres-1
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: event_dw
    volumes:
      - "./warehouse/ddl:/docker-entrypoint-initdb.d"
    ports:
      - "5432:5432"
    networks:
      - app_net

  airflow:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: airflow
    restart: always
    depends_on:
      - kafka
      - infra-postgres-1
    env_file:
      - .env
    environment:
      # 컨테이너 내부에서는 kafka:29092로 접속
      KAFKA_BOOTSTRAP_SERVERS: "kafka:29092"
    volumes:
      - "./airflow/dags:/opt/airflow/dags"
      - "./batch:/opt/airflow/batch"
      - "./ingestion:/opt/airflow/ingestion"
      - "./warehouse:/opt/airflow/warehouse"
      - "./.env:/opt/airflow/.env"
    ports:
      - "8080:8080"
    networks:
      - app_net
    command: ["airflow", "standalone"]

networks:
  app_net:
    driver: bridge
